body{
    background-image: url(../images/back.png);
}
#wrapper{
    width: 900px;
    height: 1000px;
    margin: 15% 10%;
    padding-top: 5%;
    background-color: aqua;
    text-align: center;
}
h1{
    color: red;
    font-size: 5em;
}
#sub-wrapper{
    width: 600px;
    height: 600px;
    margin-left: 15%;
    background-color: lightyellow;
    text-align: center;
}
#start {
    position: absolute;
    height: 40px;
    width: 70px;
    bottom: 0;
    background: #0080FF;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    font-size: 150%;
    border-radius: 10px;
}
#start:hover {
    cursor: pointer;
    background: navy;
}